/* navbar */

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: rgb(88, 141, 240);
    color: rgb(234, 220, 220);
}

span {
    font-size: 25px;
}

p {
    margin-left: -20px;
}

.navColor {
    background-color: rgb(192, 244, 38);
}

.headerCard {
    background-color: rgb(237, 135, 0);
    height: 60px;
    padding-top: 0px;
    border-bottom: 2px solid gray;
    border-left: 2px solid gray;
}


 img{
    height: 40px;
  } 